<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Файл com.dotfiles.biweekly.plist (переименовать при желании) настраивает задачу launchd,
    которая теперь выполняется раз в месяц.
    Запускается скрипт monthly_anacron_update.sh, отвечающий за обновление конфигураций
    и автоматическую отправку изменений в GitHub.

    Инструкция: Для активации задачи необходимо создать символическую ссылку этого файла в каталоге ~/Library/LaunchAgents.
    Пример команды:
    ln -s ~/dotfiles/launchd/com.dotfiles.biweekly.plist ~/Library/LaunchAgents/com.dotfiles.biweekly.plist
-->
<plist version="1.0">
<dict>
    <!-- Уникальный идентификатор задачи -->
    <key>Label</key>
    <string>com.dotfiles.monthly</string>
    
    <!-- Команда для выполнения -->
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/khurshidddbek/dotfiles/scripts/monthly_anacron_update.sh</string>
    </array>
    
    <!-- Интервал запуска задачи (30 дней ≈ 2592000 секунд) -->
    <key>StartInterval</key>
    <integer>2592000</integer>

    <!-- Файлы для логирования вывода скрипта -->
    <key>StandardOutPath</key>
    <string>/Users/khurshidddbek/dotfiles/biweekly_update.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/khurshidddbek/dotfiles/biweekly_update.log</string>
</dict>
</plist>
